


body {
              font-family:"Helvetica Neue", sans-serif;
              text-rendering: optimizeLegibility;

 }

 .force_down { background-color: #111111; }
 .mouse_down { background-color: #333333;}
 .mouse_rase { background-color: #555555;}

h1 { font-weight: 100; font-size:50px; color:#ffffff; }
h2 { font-weight: 200; font-size:20px; margin-top:-30px; color:#f2f2f2; }

.wrapper { text-align:center; margin-top:100px; }
